<!-- {{ listing }} -->

<h1>{{ object.title }}</h1>
<p>Created by: {{ object.user }}</p>
<p>Created at: {{ object.created_at }}</p>
<p>Status: {{ object.status }}</p>
<p>Description: {{ object.description }}</p>
<p>monthly_rent: {{ object.monthly_rent }}</p>
<p>date_available_from: {{ object.date_available_from }}</p>
<p>date_available_to: {{ object.date_available_to }}</p>
<p>property_type: {{ object.property_type }}</p>
<p>room_type: {{ object.room_type }}</p>
<p>number_of_bedrooms: {{ object.number_of_bedrooms }}</p>
<p>number_of_bathrooms: {{ object.number_of_bathrooms }}</p>
<p>furnished: {{ object.furnished }}</p>
<p>utilities_included: {{ object.utilities_included }}</p>
<a href="{% url 'rrapp:listing_detail_modify' object.user.id object.id %}" ><button>Edit</button></a>
<a href="{% url 'rrapp:my_listings' object.user.id %}" ><button>Back</button></a>