{% extends "rrapp/main.html" %}
{% block content %}
<div class="container my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <form class="form row w-90 text-center align-items-center" action="" method="POST">
                        {% csrf_token %}
                        <h1>Are you sure you want to make the changes?</h1><br>
                        <div><input class='btn btn-danger' type='submit' value='Yes' /></div>
                        <a href="{% url 'rrapp:listing_detail' user_id pk %}"><div class='btn btn-primary'>Cancel</div></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}