<div class="bg-dark left-bar">
    <div class = "d-flex flex-column align-items-center">
        <div class="card m-3 text-bg-secondary" style="max-width: 90%;">
            <img src="{{ user.profile_picture.url }}" class="card-img-top" width="100%"></img>
            <h3 class="card-header border-dark">{{user.username}}</h3>
            <div class="card-body">
                <div class="card-text mx-1 my-2">
                    <p>{{user.email}}</p>   
                    {% if path %}
                        Status :  <span class="badge text-bg-success">Renter</span >
                    {% else %}
                        Status :  <span class="badge text-bg-success">Rentee</span >
                    {% endif %}
                </div>
                <a href="{% url 'rrapp:profile' user.id %}" class="btn btn-primary m-1">Edit</a>
            </div>
        </div>

        {% if path %}
            <div class = "p-3">
                <a href="{% url 'rrapp:my_listings' user.id %}" class="btn btn-secondary">Home</a>
            </div>
            <div class = "p-3">
                <a href="{% url 'rrapp:rentee_listings' user.id %}" class="btn btn-warning">Switch Status</a>
            </div>
        {% else %}
            <div class = "p-3">
                <a href="{% url 'rrapp:rentee_listings' user.id %}" class="btn btn-secondary">Home</a>
            </div>
            <div class = "p-3">
                <a href="{% url 'rrapp:my_listings' user.id %}" class="btn btn-warning">Switch Status</a>
            </div>
            <div class = "p-3">
                <a href="{% url 'rrapp:shortlist' user.id %}" class="btn btn-success">ShortListings</a>
            </div>
        {% endif %}

        <div class = "p-3">
            <a href="{% url 'rrapp:logout' %}" class="btn btn-danger">Log out</a>
        </div>
    </div>
</div>