<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body class = "d-flex align-items-stretch flex-row" style="height:100%;">
        <div class="bg-dark" style="width:18%;">
            It's a sidebar
        </div>
        <div class="flex-fill text-center">
            <div class="container-xxl text-center">
                <div class="container pt-3">
                    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb p-3 bg-body-tertiary board rounded-3">
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis fw-semibold text-decoration-none">
                                    Home
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'rrapp:my_listings' object.user.id %}">
                                    My Listings
                                </a>
                            </li>
                            <li class="breadcrumb-item avtive">
                                {{object.title}}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            
            <div class = "w-100 align-items-center px-5" >
            <div class = "d-flex flex-column align-items-center board rounded-3" style="background-color:#F8F8F8">
                    <h1 class="font-monospace display-5 fw-medium text-body-emphasis p-1">{{ object.title }}</h1>


<p>Created by: {{ object.user }}</p>

<p>Created at: {{ object.created_at }}</p>
<p>Status: {{ object.status }}</p>
<p>Description: {{ object.description }}</p>
<p>Address : </p>
<p>address1 : {{ object.address1 }} </p>
<p>address2 : {{ object.address2 }} </p>
<p>zip_code : {{ object.zip_code }} </p>
<p>city : {{ object.city }} </p>
<p>country : {{ object.country }} </p>
<p>monthly_rent: {{ object.monthly_rent }}</p>
<p>date_available_from: {{ object.date_available_from }}</p>
<p>date_available_to: {{ object.date_available_to }}</p>
<p>property_type: {{ object.property_type }}</p>
<p>room_type: {{ object.room_type }}</p>
<p>number_of_bedrooms: {{ object.number_of_bedrooms }}</p>
<p>number_of_bathrooms: {{ object.number_of_bathrooms }}</p>
<p>furnished: {{ object.furnished }}</p>
<p>utilities_included: {{ object.utilities_included }}</p>
<p>Amenitites :</p>
<p>washer: {{ object.washer }}</p>
<p>dryer: {{ object.dryer }}</p>
<p>dishwasher: {{ object.dishwasher }}</p>
<p>microwave: {{ object.microwave }}</p>
<p>baking_oven: {{ object.baking_oven }}</p>
<p>parking: {{ object.parking }}</p>
<p>Preferences :</p>
<p>age_range: {{ object.age_range }}</p>
<p>smoking_allowed: {{ object.smoking_allowed }}</p>
<p>pets_allowed: {{ object.pets_allowed }}</p>
<p>food_groups_allowed: {{ object.food_groups_allowed }}</p>
<a href="{% url 'rrapp:listing_detail_modify' object.user.id object.id %}" ><button>Edit</button></a>
<a href="{% url 'rrapp:listing_delete' object.user.id object.id %}" ><button>Delete</button></a>
<a href="{% url 'rrapp:my_listings' object.user.id %}" ><button>Back</button></a>
            </div>


        </div>

        </div>
    </body>
    <style>
        .breadcrumb-item.avtive {
            color: var(--bs-breadcrumb-item-active-color);
        }
        .board{
            border: var(--bs-border-width) var(--bs-border-style) #dee2e6!important;
        }
        html,body{
            height:100%%;
            width:100%;
            padding: 0;
            margin: 0;
        }
    </style>
</html>