<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'rrapp/common.css' %}">
    </head>
    <body class = "d-flex align-items-stretch flex-row">
        <div class="bg-dark left-bar">
            <div class = "d-flex flex-column align-items-center">
                <div class = "p-3">
                    <a href="{% url 'rrapp:rentee_listings' user_id %}" class="btn btn-warning">Swtich Status</a>
                </div>
                <div class = "p-3">
                    <a href="{% url 'rrapp:logout' %}" class="btn btn-danger">Log out</a>
                </div>
            </div>
        </div>
        <div class="text-center right-page">
                <div class="container p-3">
                    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb p-3 bg-body-tertiary board rounded-3">
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis fw-semibold text-decoration-none">
                                    Home
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'rrapp:my_listings' object.user.id %}">
                                    My Listings
                                </a>
                            </li>
                            <li class="breadcrumb-item avtive">
                                {{object.title}}
                            </li>
                        </ol>
                    </nav>
                </div>
            
            <div class = "w-100 align-items-center px-5" >
            <div class = "d-flex flex-column align-items-center board rounded-3" style="background-color:#F8F8F8">
                    <h1 class="font-monospace display-5 fw-medium text-body-emphasis p-2">{{ object.title }}</h1>
                    <div class="row w-75 text-center">

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left ">
                                <div class="p-2 text-left">Created By :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.user }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Created At :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.created_at }}</div>
                            </div>
                        </div>
                        
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Status :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.status }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Description :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.description }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Address1 :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.address1 }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Address2 :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.address2 }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Zip Code :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.zip_code }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">City :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.city }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">State :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.state }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Country :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.country }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Monthly Rent :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.monthly_rent }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Available From :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.date_available_from }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left"> To </div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.date_available_to }}</div>
                            </div>
                        </div>
                        
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Property Type :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.property_type }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Room Type :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.room_type }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Bedrooms :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.number_of_bedrooms }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Bathrooms :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.number_of_bathrooms }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left"> Furnished :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.furnished }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Utilities :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.utilities_included }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left"> Washer :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.washer }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Dryer :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.dryer }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left"> Dishwasher :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.dishwasher }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Microwave :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.microwave }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Baking Oven :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.baking_oven }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Parking :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.parking }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Preferences :</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Age Range :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.age_range }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Smoking Allowed :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.smoking_allowed }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Pets Allowed :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.pets_allowed }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Food Allowed :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.food_groups_allowed }}</div>
                            </div>
                        </div>

                    </div>
                    
                    <div class="d-inline-flex gap-4 mb-5 p-4">
                        <a href="{% url 'rrapp:listing_detail_modify' object.user.id object.id %}" >
                            <button type="button" class="cus-btn-left btn align-item-center rounded-pill btn-lg">Edit</button>
                        </a> 

                        <a href="{% url 'rrapp:listing_delete' object.user.id object.id %}" >
                            <button type="button" class="cus-btn-mid btn align-item-center rounded-pill btn-lg">Delete</button>
                        </a>

                        <a href="{% url 'rrapp:my_listings' object.user.id %}" >
                            <button type="button" class="cus-btn-right btn align-item-center rounded-pill btn-lg">Back</button>
                        </a>
                    </div>
            </div>
        </div>

        </div>
    </body>
    <style>
        html, body {
            height: auto;
        }
    </style>
</html>