<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'rrapp/common.css' %}">
    </head>

    <body class = "align-items-stretch">
        <div class="back-contianer">

            {% include 'rrapp/left_bar.html' with user=user path=path %}

            <div class="text-center right-page">
                
                <div class="container p-3">
                    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb p-3 bg-body-tertiary board rounded-3">
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis fw-semibold text-decoration-none">
                                    Home
                                </a>
                            </li>
        
                            <li class="breadcrumb-item avtive">
                                Profile
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class = "w-100 align-items-center px-5 mb-3" >
                    <div class = "d-flex flex-column align-items-center board rounded-3" style="background-color:#F8F8F8">
                        <h1 class="font-monospace display-5 fw-medium text-body-emphasis my-3">{{ user.email }}</h1>

                        <div class="row w-75 text-center">
                            
                            <form method="post">
                                {% csrf_token %}
                                {% load widget_tweaks %}
                        
                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field }}
                                {% endfor %}
                        
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                    </div>
                                {% endif %}
                        
                        
                                {% for field in form.visible_fields %}
                                    <div class="m-2" style="display: flex;flex-direction: column;">
                                            {{ field.label_tag }}
                                                            
                                        {% if form.is_bound %}
                                            {% if field.errors %}
                                                {% render_field field class="form-control is-invalid" %}
                                                {% for error in field.errors %}
                                                    <div class="invalid-feedback">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {% render_field field class="form-control is-valid" %}
                                            {% endif %}
                                        {% else %}
                                            {% if field.label != 'Smokes'%}
                                                {% render_field field class="form-control" %}
                                            {% else %}
                                                {% render_field field class="form-check" %}
                                            {% endif %}
                                        {% endif %}
                        
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                        
                                    </div>
                                {% endfor %}
                        
                                <button type="submit" class="btn btn-primary m-2">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
