<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'rrapp/common.css' %}">
    </head>
    <body class = "align-items-stretch">
        <div class="back-contianer">
        
        {% include 'rrapp/left_bar.html' with user=user path=path inbox=inbox %}

        <div class="text-center right-page">
            <div class="container-xxl text-center">
                <div class="container pt-3">
                    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb p-3 bg-body-tertiary board rounded-3">
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis fw-semibold text-decoration-none">
                                    Home
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'rrapp:rentee_listings' %}">
                                    Listings
                                </a>
                            </li>
                            <li class="breadcrumb-item avtive">
                                {{object.title}}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            
            <div class = "w-100 align-items-center px-5" >
            <div class = "d-flex flex-column align-items-center board rounded-3" style="background-color:#F8F8F8">
                    <h1 class="font-monospace display-5 fw-medium text-body-emphasis p-2">{{ object.title }}</h1>
                    <div class="row w-75 text-center">
                        
                        {% if photos %}
                        <div class="col-12 p-2">

                            <div id="carouselExample" class="carousel slide">
                                <div class="carousel-inner">
                                    {% for photo in photos%}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img src="{{ photo.image.url }}" alt="Photo" class="d-block w-100" width="500" height="600">
                                        </div>
                                    {% endfor %}
                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </div>
                        {% endif %}

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left ">
                                <div class="p-2 text-left">Created By :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.user.username }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Created At :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.created_at }}</div>
                            </div>
                        </div>
                        
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Status :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.status }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Description :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.description }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Address1 :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.address1 }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Address2 :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.address2 }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Zip Code :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.zip_code }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">City :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.city }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">State :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.state }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Country :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.country }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Monthly Rent :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.monthly_rent }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Available From :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.date_available_from }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left"> To </div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.date_available_to }}</div>
                            </div>
                        </div>
                        
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Property Type :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.property_type }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Room Type :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.room_type }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Bedrooms :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.number_of_bedrooms }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Bathrooms :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.number_of_bathrooms }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left"> Furnished :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.furnished }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Lease type :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.lease_type }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Utilities :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.utilities_included }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left"> Washer :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.washer }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Dryer :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.dryer }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left"> Dishwasher :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.dishwasher }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Microwave :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.microwave }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Baking Oven :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.baking_oven }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Parking :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.parking }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Preferred age group :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.age_range }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Smoking allowed :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.smoking_allowed }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Preferred pets :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.pets_allowed }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Preferred food group :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.food_groups_allowed }}</div>
                            </div>
                        </div>

                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Preferred gender :</div>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.preferred_gender }}</div>
                            </div>
                        </div>

                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-left">
                                <div class="p-2 text-left">Restricted to matching rentees :</div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="board w-100 h-100 rounded-3 back-right">
                                <div class="p-2 text-right">{{ object.restrict_to_matches }}</div>
                            </div>
                        </div>

                    </div>
                    
                    <div class="d-inline-flex gap-4 p-4">
                        <form method="POST">
                            {% csrf_token %}
                            {% if saved %}
                                <button type="submit" class="btn align-item-center btn-warning-cus" name="shortlist">
                                    Not for me
                                    <i class="bi bi-check"></i>
                                </button>
                            {% else %}
                                <button type="submit" class="btn align-item-center btn-warning-cus" name="shortlist">Shortlist</button>
                            {% endif %}
                        </form>
                        {% if quizState%}
                            <a href="{% url 'rrapp:personal_quiz'%}" >
                                <button type="button" class="btn align-item-center btn-primary-cus">Update Quiz</button>
                            </a>
                        {% else %}
                            <a href="{% url 'rrapp:personal_quiz'%}" >
                                <button type="button" class="btn align-item-center btn-primary-cus">Take Quiz</button>
                            </a>
                        {% endif %}
                        <button type="button" class="btn align-item-center btn-danger-cus" onclick="window.history.back()">Back</button>
                    </div>

                    <div class="mb-3">
                        {% if cur_permission %}
                            {% if cur_permission == 'allowed' %}
                            
                                <div>
                                    {% csrf_token %}
                                    <!-- TODO : change back to websocket chat url after aws daphne integration -->
                                    <a href="{% url 'chat:conversation' object.user.username %}" >
                                        <button type="button" class="btn align-item-center btn-lg btn btn-success-cus">Message Renter</button>
                                    </a>
                                    <!-- <a href="{% url 'rrapp:public_profile' object.user.id %}" >
                                        <button type="button" class="btn align-item-center rounded-pill btn-lg btn btn-success">Contact Renter</button>
                                    </a> -->
                                </div>
                            {% endif %}
                            
                            {%if cur_permission == 'requested' %}
                                <div>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="btn align-item-center btn-primary-cus" name="connection_request" disabled>Waiting for approval</button>
                                    </form>
                                </div>
                            {% endif %}
                            
                            {%if cur_permission == 'blocked' %}
                                <div>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="btn align-item-center btn-secondary" name="connection_request" disabled>Cannot connect</button>
                                    </form>
                                </div>
                            {% endif %}
                        {% else %}
                            <div>
                                <form method="POST">
                                    {% csrf_token %}
                                    {% if quizState%}
                                        <button type="submit" class="btn align-item-center btn-lg btn btn-success-cus" name="connection_request">Connect with Renter</button>
                                    {% else %}
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Click Take Quiz button to finish the quiz first.">
                                            <button class="btn align-item-center btn-lg btn btn-success-cus" type="button" disabled>Connect with Renter</button>
                                        </span>
                                    {% endif %}
                                </form>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script>
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
              return new bootstrap.Popover(popoverTriggerEl)
            })
        </script>
    </body>
</html>