<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'rrapp/common.css' %}">
    </head>
    <body class = "align-items-stretch">
        <div class="back-contianer">

        {% include 'rrapp/left_bar.html' with user=user path=path inbox=inbox %}

        <div class="text-center right-page">
            <div class="container p-3">
                <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                    <ol class="breadcrumb p-3 bg-body-tertiary board rounded-3">
                        <li class="breadcrumb-item">
                            <a class="link-body-emphasis fw-semibold text-decoration-none">
                                Home
                            </a>
                        </li>
    
                        <li class="breadcrumb-item avtive">
                            My ShortList
                        </li>
                    </ol>
                </nav>
            </div>
            <div class = "d-flex flex-column align-items-center">
                    <div class="align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none">
                        <span class="fs-4 fw-semibold">My ShortList</span>
                    </div>

                    <div style="width:70%;">
                        {% if latest_listings %}
                            <div class="list-group scrollarea">
                                {% for listing in latest_listings %}
                                    <button type="button" class="list-group-item list-group-item-action" onclick="window.location.href='{% url 'rrapp:rentee_listing_detail' listing.saved_listings.id %}'" style="height:3.5rem;">
                                        <span class="fs-5 fw-semi">
                                            {{ listing.saved_listings.title }}
                                        </span>
                                    </button>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>No listings saved yet.</p>
                        {% endif %}
                    </div>
                    
                    <div class="pagination m-3">
                        <span class="step-links">
                            {% if latest_listings.has_previous %}
                                <a href="?page=1" class="btn btn-primary">&laquo; first</a>
                                <a href="?page={{ latest_listings.previous_page_number }}" class="btn btn-primary">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ latest_listings.number }} of {{ latest_listings.paginator.num_pages }}.
                            </span>
                    
                            {% if latest_listings.has_next %}
                                <a href="?page={{ latest_listings.next_page_number }}" class="btn btn-primary">next</a>
                                <a href="?page={{ latest_listings.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
        </div>
    </body>
    <style>
    </style>
</html>
