html, body{
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
}

.back-contianer{
    display: flex;
    min-height: 100vh;
    height: auto;
}

.text-bg-cus{
    color: #E1D7C4!important;
    background-color: #384871!important;
}

.text-bg-success-cus{
    color: #fff!important;
    background-color: #47855A!important;
}

.text-bg-warning-cus{
    color: #fff!important;
    background-color: #CCA94C!important;
}

.btn-success-cus{
    --bs-btn-color:#fff;
    --bs-btn-hover-color:#fff;
    --bs-btn-active-color:#fff;
    --bs-btn-bg: #47855A;
    --bs-btn-border-color: #47855A;
    --bs-btn-hover-bg: #287246;
    --bs-btn-hover-border-color: #287246;
    --bs-btn-active-bg: #287246;
    --bs-btn-active-border-color: #287246;
}

.btn-primary-cus{
    --bs-btn-color:#fff;
    --bs-btn-hover-color:#fff;
    --bs-btn-active-color:#fff;
    --bs-btn-bg: #384871;
    --bs-btn-border-color: #384871;
    --bs-btn-hover-bg: #2F3E67;
    --bs-btn-hover-border-color: #2F3E67;
    --bs-btn-active-bg: #2F3E67;
    --bs-btn-active-border-color: #2F3E67;
}

.btn-secondary-cus{
    --bs-btn-color:#fff;
    --bs-btn-hover-color:#fff;
    --bs-btn-active-color:#fff;
    --bs-btn-bg: #76A2B9;
    --bs-btn-border-color: #76A2B9;
    --bs-btn-hover-bg: #5E93AF;
    --bs-btn-hover-border-color: #5E93AF;
    --bs-btn-active-bg: #5E93AF;
    --bs-btn-active-border-color: #5E93AF;
}

.btn-danger-cus{
    --bs-btn-color:#fff;
    --bs-btn-hover-color:#fff;
    --bs-btn-active-color:#fff;
    --bs-btn-bg: #AB4F3F;
    --bs-btn-border-color: #AB4F3F;
    --bs-btn-hover-bg: #973A2A;
    --bs-btn-hover-border-color: #973A2A;
    --bs-btn-active-bg: #973A2A;
    --bs-btn-active-border-color: #973A2A;
}

.btn-warning-cus{
    --bs-btn-color:#fff;
    --bs-btn-hover-color:#fff;
    --bs-btn-active-color:#fff;
    --bs-btn-bg: #CCA94C;
    --bs-btn-border-color: #CCA94C;
    --bs-btn-hover-bg: #CA9D23;
    --bs-btn-hover-border-color: #CA9D23;
    --bs-btn-active-bg: #CA9D23;
    --bs-btn-active-border-color: #CA9D23;
}

.bg-danger-cus{
    --bs-bg-opacity: 1;
    background-color: #AB4F3F!important;
}

.bg-success-cus{
    --bs-bg-opacity: 1;
    background-color: #47855A!important;
}

.text-success-cus{
    color: rgba(var(--bs-success-rgb))!important;
}

.text-danger-cus{
    color: rgba(var(--bs-danger-rgb))!important;
}

.back-left {
    color: #EFEAE1!important;
    background-color: #47855A;
}
.back-right {
    background-color: #2E3236;
}

.left-bar{
    width: 18%;
}

.right-page{
    width: 82%;
    display: flex;
    flex-direction: column;
}

.text-left {
    color: #FFFFFF;
}
.text-right {
    color: #FFFFFF;
}

.breadcrumb-item.avtive {
    color: var(--bs-breadcrumb-item-active-color);
}

.board{
    border: var(--bs-border-width) var(--bs-border-style) #dee2e6!important;
}

.grey-block{
    background-color:#F9F9F9;
    border: var(--bs-border-width) var(--bs-border-style) #dee2e6!important;
}

.home-title{
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
                0% {opacity: 0;}
                100% {opacity: 1;}
}

.checked {
    color: red;
}

.my-rating-btn {
    background-color: inherit !important;
    border: 0 !important;
}